<p class="content_text">สวัสดีทุกท่าน</p><br>
<p class="content_text">วันนี้เรามีข่าวมาแจ้งก่อนสิ้นเดือนนี้<br>
    เพราะต่อจากนี้ ST Dub Team จะมีเว็บไซต์เป็นของตัวเองแล้วนะ!
    โดยทุกท่านสามารถเข้าชมเว็บไซต์ได้เลย ตั้งแต่วันนี้เป็นต้นไป
    หากพบบัคหรือปัญหาใดๆ สามารถแจ้งแอดมินมาได้เลยนะ</p><br>
<p class="content_text">เว็บไซต์ : <a href="https://www.stdubteam.online">https://www.stdubteam.online</a></p>