<p>สวัสดีทุกท่าน<br>
    วันนี้เราขอมาขายโปรเจกต์ใหม่ที่เพิ่มได้อัปโหลดลงช่องทางต่างๆ<br><br>
    นั่นก็คือผลงานฝึกพากย์ฝึกพากย์ CutScene "บทเรียนสุดท้าย" จากเกม honkai impact 3rd<br><br>ทุกท่านสามารถรับชมวิดีโอฝึกพากย์ตัวใหม่จากเราได้ตามด้านล่างนี้เลย!<br><br>
    <a href="https://www.facebook.com/STDubTeam/videos/1488761908394651/">https://www.facebook.com/STDubTeam/videos/1488761908394651/</a><br>
    <a href="https://www.tiktok.com/@stdubteam/video/7369561117623946513">https://www.tiktok.com/@stdubteam/video/7369561117623946513</a><br>
    <a href="https://www.bilibili.tv/en/video/4791294259626496">https://www.bilibili.tv/en/video/4791294259626496</a><br>
    <a href="https://www.youtube.com/watch?v=wIxozDZRI8k">https://www.youtube.com/watch?v=wIxozDZRI8k</a><br>
</p>