<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media">
<p class="img_obj_004_in"><img class="img_obj_004" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-004-1.webp?alt=media"></p>
<div class="content">
    <p class="content_text">ทุกๆ คนน่าจะมีความสนใจในอะไรสักอย่างใช่ไหมล่ะ..?</p>
    <p class="content_text">เริ่มต้นนั้นเรามีเพียงแค่ 2 คน ที่มีเป้าหมายสร้างอนิเมชั่น
        แต่ความคิดนี้ก็ถูกยุบไปด้วยอุปสรรค์หลายๆ อย่าง ทำให้มาโฟกัสกับทีมพากย์นั่นเอง</p>
    <p class="content_text">จาก 2 คนก็มีการรับสมัครสมาชิกเข้ามาเพิ่มเติม จนกลายเป็นหลาย 10 คนในปัจจุบัน
        เรามีผลงานฝึกพากย์ที่สนุกๆ อยู่มากมาย</p>
    <p class="content_text">เป้าหมายของเราคือการที่ทีมได้พากย์ผลงานที่ยิ่งใหญ่สักครั้ง และหวังว่าจะเป็นอย่างนั้นในอนาคต!
    </p>
</div>