<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media&token=c83ff66e-f613-4178-8e85-f0b0e3bc975c">
<div class="head_group">
    <img class="logo" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Flogo%20(1).webp?alt=media&token=b3c6dabb-44c1-4f8f-bbd1-8827967137f9">
    <img class="img_obj_002" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-002.webp?alt=media&token=79eb5165-a47f-4713-89a9-a05bda0ff47e">
</div>
<div class="img_obj_003_group">
    <a href="/about">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-1.webp?alt=media&token=32d0c43d-fccd-4cfb-9c4c-d6f644dfc833">
    </a><br>
    <a href="/news">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-2.webp?alt=media&token=3a3c7f06-626f-4f48-bc38-279527dd92a8">
    </a><br>
    <a href="/members">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-3.webp?alt=media&token=c10c535a-ae1c-42b0-a221-d9a0d0b61b76">
    </a><br>
    <a href="/projects">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-4.webp?alt=media&token=254c82a2-6e7c-40f2-b8ef-4e6d5bef3d06">
    </a><br>
    <a href="/contact">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-5.webp?alt=media&token=4b656d7c-e7fb-480c-b575-83176985e647">
    </a>
</div>