<img class="img_obj_001" loading="lazy" src="https://i.ibb.co/4RtqzCX/st-dub-website-obj-001.webp">
<div class="head_group">
    <img class="logo" loading="lazy" src="https://i.ibb.co/jHTRsHZ/logo-1.webp">
    <img class="img_obj_002" loading="lazy" src="https://i.ibb.co/jWj9rKf/st-dub-website-obj-002.webp">
</div>
<div class="img_obj_003_group">
    <a href="/about">
        <img class="img_obj_003" loading="lazy" src="https://i.ibb.co/v3Lycyz/st-dub-website-obj-003-1.webp">
    </a><br>
    <a href="/news">
        <img class="img_obj_003" loading="lazy" src="https://i.ibb.co/XzsYgVc/st-dub-website-obj-003-2.webp">
    </a><br>
    <a href="/members">
        <img class="img_obj_003" loading="lazy" src="https://i.ibb.co/vLhmYQb/st-dub-website-obj-003-3.webp">
    </a><br>
    <a href="/projects">
        <img class="img_obj_003" loading="lazy" src="https://i.ibb.co/mX1Tk1n/st-dub-website-obj-003-4.webp">
    </a><br>
    <a href="/contact">
        <img class="img_obj_003" loading="lazy" src="https://i.ibb.co/bBfqd5J/st-dub-website-obj-003-5.webp">
    </a>
</div>