<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media">
<div class="head_group">
    <img class="logo" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Flogo%20(1).webp?alt=media">
    <img class="img_obj_002" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-002.webp?alt=media">
</div>
<div class="img_obj_003_group">
    <a href="/about">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-1.webp?alt=media">
    </a><br>
    <a href="/news">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-2.webp?alt=media">
    </a><br>
    <a href="/members">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-3.webp?alt=media">
    </a><br>
    <a href="/projects">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-4.webp?alt=media">
    </a><br>
    <a href="/contact">
        <img class="img_obj_003" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-003-5.webp?alt=media">
    </a>
</div>