<img class="img_obj_001" src="https://i.ibb.co/Qf2v2gr/st-dub-website-obj-001.png">
<div class="head_group">
    <img class="logo" src="https://i.ibb.co/GkCMgbn/logo.png">
    <img class="img_obj_002" src="https://i.ibb.co/NYLXBSd/st-dub-website-obj-002.png">
</div>
<div class="img_obj_003_group">
    <a href="/about">
        <img class="img_obj_003" src="https://i.ibb.co/zGSK905/st-dub-website-obj-003-1.png">
    </a><br>
    <a href="/news">
        <img class="img_obj_003" src="https://i.ibb.co/3yKjjbf/st-dub-website-obj-003-2.png">
    </a><br>
    <a href="/members">
        <img class="img_obj_003" src="https://i.ibb.co/JxbjVjz/st-dub-website-obj-003-3.png">
    </a><br>
    <a href="/projects">
        <img class="img_obj_003" src="https://i.ibb.co/g4GSzZN/st-dub-website-obj-003-4.png">
    </a><br>
    <a href="/contact">
        <img class="img_obj_003" src="https://i.ibb.co/hgDZWJp/st-dub-website-obj-003-5.png">
    </a>
</div>