<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media&token=c83ff66e-f613-4178-8e85-f0b0e3bc975c">
<p class="img_obj_004_in"><img class="img_obj_004" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-004-3.webp?alt=media&token=99324e4a-0d8e-4f57-838c-707654581df5"></p>
<div class="content">
    <a class="profile_link" href="https://www.facebook.com/koonoppe">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F1(1).webp?alt=media&token=4f58b78e-2ff8-46b4-b929-bb0ec813e745">
            <h1 class="profile_name">Koon2120</h1>
            <p class="profile_role">Manager</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100037527661081">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F2%20(1).webp?alt=media&token=d78f3b66-098d-49d5-800c-1a5db97ded7d">
            <h1 class="profile_name">อั๊ง จารุวัฒน์</h1>
            <p class="profile_role">Head of Team</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100080514518211">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F3(1).webp?alt=media&token=0b41d79c-c070-4133-8baa-f1c4bd629cc6">
            <h1 class="profile_name">Blaxk HoleTh</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chindanai.iamphan">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F4(1).webp?alt=media&token=807cf1eb-c22c-48ca-933e-0c8054dc0eb7">
            <h1 class="profile_name">Chindanai Iamphan </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chorkrisana.ruksasil.5">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F5%20(1).webp?alt=media&token=68c4c8b3-a119-4373-9ea8-709a3de123eb">
            <h1 class="profile_name">Cksn Qs </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DuckyWander">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F6%20(1).webp?alt=media&token=305ed124-fe60-48d0-b8e9-a561d04769a8">
            <h1 class="profile_name">Ebi Hakujo</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/IPFandud">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F7%20(1).webp?alt=media&token=925ea92b-44cb-4c7a-b19d-91c15210a866">
            <h1 class="profile_name">Jirayu Jyr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kamorin.kmr">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F8%20(1).webp?alt=media&token=414f32d5-70f5-4e2f-b6ea-08e29a3d812f">
            <h1 class="profile_name">Kamorin Kmr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100014228536886">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F9%20(1).webp?alt=media&token=fac6140e-a052-464b-9c1b-af80e51a3783">
            <h1 class="profile_name">Kungking Mingkwan</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100083840585820">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F10%20(1).webp?alt=media&token=f854fca5-180b-437d-a796-13c4b217cad8">
            <h1 class="profile_name">Mika Anki</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/micky.bubpha">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F11%20(1).webp?alt=media&token=d1c9d89b-3cc8-4d8e-b53c-30c8680ff166">
            <h1 class="profile_name">Nantapong Sommuang</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100011567084871">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F12%20(1).webp?alt=media&token=a87e800a-254b-4e00-9ca5-591dea9f2a1d">
            <h1 class="profile_name">Ploypatcha Aphai</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/punnapat.tupmattar">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F13%20(1).webp?alt=media&token=3d8bd6d4-a271-42e0-be87-0c1e8318f1fe">
            <h1 class="profile_name">Punnapat Tupmattar</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/eli.cark.1">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F14%20(1).webp?alt=media&token=ae27f02d-1936-4f13-a2df-f30f0f0e4516">
            <h1 class="profile_name">Saki Nakisa</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DarkfcgameZTV">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F15(1).webp?alt=media&token=33b076b7-90bc-4834-845a-6b48b5f60c84">
            <h1 class="profile_name">Shiro Neko</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/SodaSrivicha">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F16(1).webp?alt=media&token=fcc74992-db30-4b57-a60a-cb9cea431379">
            <h1 class="profile_name">Soda Srivicha</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kise.kizaraki.7">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F17%20(1).webp?alt=media&token=41c182db-15e4-48a9-9396-e392ffbf7d21">
            <h1 class="profile_name">เต้าหู้ เตาใจ</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100028082373728">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F18(1).webp?alt=media&token=647343a5-f50d-4233-9d14-6a5f125cff03">
            <h1 class="profile_name">于晶</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
</div>