<img class="img_obj_001" src="https://i.ibb.co/Qf2v2gr/st-dub-website-obj-001.png">
<p class="img_obj_004_in"><img class="img_obj_004" src="https://i.ibb.co/XtdY1R5/st-dub-website-obj-004-3.png"></p>
<div class="content">
    <a class="profile_link" href="https://www.facebook.com/koonoppe">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/0G3bPjD/1.jpg">
            <h1 class="profile_name">Koon2120</h1>
            <p class="profile_role">Manager</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100037527661081">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/QnVbYgB/2.jpg">
            <h1 class="profile_name">อั๊ง จารุวัฒน์</h1>
            <p class="profile_role">Head of Team</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100080514518211">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/87z9M2R/3.jpg">
            <h1 class="profile_name">Blaxk HoleTh</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chindanai.iamphan">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/Hnt3ycH/4.jpg">
            <h1 class="profile_name">Chindanai Iamphan </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chorkrisana.ruksasil.5">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/D5q5jpB/5.jpg">
            <h1 class="profile_name">Cksn Qs </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DuckyWander">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/BLvdLFk/6.jpg">
            <h1 class="profile_name">Ebi Hakujo</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/IPFandud">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/qRzwt8m/7.jpg">
            <h1 class="profile_name">Jirayu Jyr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kamorin.kmr">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/drhPy7X/8.jpg">
            <h1 class="profile_name">Kamorin Kmr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100014228536886">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/Tcbtp2M/9.jpg">
            <h1 class="profile_name">Kungking Mingkwan</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100083840585820">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/PwFXcRv/10.jpg">
            <h1 class="profile_name">Mika Anki</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/micky.bubpha">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/Qkzwjpg/11.jpg">
            <h1 class="profile_name">Nantapong Sommuang</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100011567084871">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/pLC4XZP/12.jpg">
            <h1 class="profile_name">Ploypatcha Aphai</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/punnapat.tupmattar">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/fthFfN1/13.jpg">
            <h1 class="profile_name">Punnapat Tupmattar</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/eli.cark.1">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/ZR9mCNC/14.jpg">
            <h1 class="profile_name">Saki Nakisa</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DarkfcgameZTV">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/8x7pY3B/15.jpg">
            <h1 class="profile_name">Shiro Neko</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/SodaSrivicha">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/Qv9t88T/16.jpg">
            <h1 class="profile_name">Soda Srivicha</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kise.kizaraki.7">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/jJS4YLy/17.jpg">
            <h1 class="profile_name">เต้าหู้ เตาใจ</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100028082373728">
        <div class="profile">
            <img class="profile_img" src="https://i.ibb.co/5FCfhkh/18.jpg">
            <h1 class="profile_name">于晶</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
</div>