<img class="img_obj_001" loading="lazy" src="https://i.ibb.co/4RtqzCX/st-dub-website-obj-001.webp">
<p class="img_obj_004_in"><img class="img_obj_004" loading="lazy" src="https://i.ibb.co/FDsgPb0/st-dub-website-obj-004-3.webp"></p>
<div class="content">
    <a class="profile_link" href="https://www.facebook.com/koonoppe">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/kx30j2C/1-1.webp">
            <h1 class="profile_name">Koon2120</h1>
            <p class="profile_role">Manager</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100037527661081">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/vwXHQvL/2-1.webp">
            <h1 class="profile_name">อั๊ง จารุวัฒน์</h1>
            <p class="profile_role">Head of Team</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100080514518211">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/NW2YbqK/3-1.webp">
            <h1 class="profile_name">Blaxk HoleTh</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chindanai.iamphan">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/CKt71RY/4-1.webp">
            <h1 class="profile_name">Chindanai Iamphan </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chorkrisana.ruksasil.5">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/nQrYptT/5-1.webp">
            <h1 class="profile_name">Cksn Qs </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DuckyWander">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/DtkJYQQ/6-1.webp">
            <h1 class="profile_name">Ebi Hakujo</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/IPFandud">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/BZhMJDR/7-1.webp">
            <h1 class="profile_name">Jirayu Jyr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kamorin.kmr">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/bXHSxsY/8-1.webp">
            <h1 class="profile_name">Kamorin Kmr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100014228536886">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/C6n5Yh3/9-1.webp">
            <h1 class="profile_name">Kungking Mingkwan</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100083840585820">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/YhjfkLv/10-1.webp">
            <h1 class="profile_name">Mika Anki</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/micky.bubpha">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/k3jyHVy/11-1.webp">
            <h1 class="profile_name">Nantapong Sommuang</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100011567084871">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/zbFRGsS/12-1.webp">
            <h1 class="profile_name">Ploypatcha Aphai</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/punnapat.tupmattar">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/r4YtLZL/13-1.webp">
            <h1 class="profile_name">Punnapat Tupmattar</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/eli.cark.1">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/j6CNRB0/14-1.webp">
            <h1 class="profile_name">Saki Nakisa</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DarkfcgameZTV">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/55xG5QC/15-1.webp">
            <h1 class="profile_name">Shiro Neko</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/SodaSrivicha">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/mGH2kPY/16-1.webp">
            <h1 class="profile_name">Soda Srivicha</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kise.kizaraki.7">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/WPnQxNf/17-1.webp">
            <h1 class="profile_name">เต้าหู้ เตาใจ</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100028082373728">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://i.ibb.co/jRQZp8b/18-1.webp">
            <h1 class="profile_name">于晶</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
</div>