<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media">
<p class="img_obj_004_in"><img class="img_obj_004" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-004-3.webp?alt=media"></p>
<div class="content">
    <a class="profile_link" href="https://www.facebook.com/koonoppe">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F1(1).webp?alt=media">
            <h1 class="profile_name">Koon2120</h1>
            <p class="profile_role">Manager</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100037527661081">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F2%20(1).webp?alt=media">
            <h1 class="profile_name">อั๊ง จารุวัฒน์</h1>
            <p class="profile_role">Head of Team</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100080514518211">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F3(1).webp?alt=media">
            <h1 class="profile_name">Blaxk HoleTh</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chindanai.iamphan">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F4(1).webp?alt=media">
            <h1 class="profile_name">Chindanai Iamphan </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/chorkrisana.ruksasil.5">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F5%20(1).webp?alt=media">
            <h1 class="profile_name">Cksn Qs </h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DuckyWander">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F6%20(1).webp?alt=media">
            <h1 class="profile_name">Ebi Hakujo</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/IPFandud">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F7%20(1).webp?alt=media">
            <h1 class="profile_name">Jirayu Jyr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kamorin.kmr">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F8%20(1).webp?alt=media">
            <h1 class="profile_name">Kamorin Kmr</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100014228536886">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F9%20(1).webp?alt=media">
            <h1 class="profile_name">Kungking Mingkwan</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100083840585820">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F10%20(1).webp?alt=media">
            <h1 class="profile_name">Mika Anki</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/micky.bubpha">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F11%20(1).webp?alt=media">
            <h1 class="profile_name">Nantapong Sommuang</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100011567084871">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F12%20(1).webp?alt=media">
            <h1 class="profile_name">Ploypatcha Aphai</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/punnapat.tupmattar">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F13%20(1).webp?alt=media">
            <h1 class="profile_name">Punnapat Tupmattar</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/eli.cark.1">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F14%20(1).webp?alt=media">
            <h1 class="profile_name">Saki Nakisa</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/DarkfcgameZTV">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F15(1).webp?alt=media">
            <h1 class="profile_name">Shiro Neko</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/SodaSrivicha">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F16(1).webp?alt=media">
            <h1 class="profile_name">Soda Srivicha</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/kise.kizaraki.7">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F17%20(1).webp?alt=media">
            <h1 class="profile_name">เต้าหู้ เตาใจ</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
    <a class="profile_link" href="https://www.facebook.com/profile.php?id=100028082373728">
        <div class="profile">
            <img class="profile_img" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/members-webp%2F18(1).webp?alt=media">
            <h1 class="profile_name">于晶</h1>
            <p class="profile_role">Member</p>
        </div>
    </a>
</div>