<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media&token=c83ff66e-f613-4178-8e85-f0b0e3bc975c">
<p class="img_obj_004_in"><img loading="lazy" class="img_obj_004" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-004-2.webp?alt=media&token=56e7825a-8257-4753-b981-e57576e9f5a9"></p>
<div class="content">
    <% news_list.forEach(function(news) { %>
        <a class="news_link" href="/news/id/<%= news.id %>">
            <div class="news">
                <p class="news_date"><%= news.date %></p>
                <h1 class="news_title"><%= news.title %></h1>
            </div>
        </a>
      <% }); %>
</div>