<img class="img_obj_001" loading="lazy" src="https://i.ibb.co/4RtqzCX/st-dub-website-obj-001.webp">
<p class="img_obj_004_in"><img loading="lazy" class="img_obj_004" src="https://i.ibb.co/JjcFSq2/st-dub-website-obj-004-2.webp"></p>
<div class="content">
    <% news_list.forEach(function(news) { %>
        <a class="news_link" href="/news/id/<%= news.id %>">
            <div class="news">
                <p class="news_date"><%= news.date %></p>
                <h1 class="news_title"><%= news.title %></h1>
            </div>
        </a>
      <% }); %>
</div>