<img class="img_obj_001" src="https://i.ibb.co/Qf2v2gr/st-dub-website-obj-001.png">
<div class="content">
    <p class="content_thumnail_in">
        <img class="content_thumnail" src="<%= thumnail %>">
    </p>
    <p class="content_date"><%= date %></p>
    <h1 class="content_title"><%= title %></h1>
    <hr class="content_cut">
    <%- include("../news_pages/" + news_id) %>
</div>