<img class="img_obj_001" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/stdubteam-website.appspot.com/o/webassets-webp%2Fst-dub-website-obj-001.webp?alt=media&token=c83ff66e-f613-4178-8e85-f0b0e3bc975c">
<div class="content">
    <p class="content_thumnail_in">
        <img class="content_thumnail" loading="lazy" src="<%= thumnail %>">
    </p>
    <p class="content_date"><%= date %></p>
    <h1 class="content_title"><%= title_content %></h1>
    <hr class="content_cut">
    <%- include("../news_pages/" + news_id) %>
</div>