body {
    background-color: black;
    font-family: 'Noto Sans Thai', sans-serif;
    color: white;
}

.img_obj_001 {
    height: 100%;
    position: fixed;
    opacity: 50%;
    z-index: -1;
}

.img_obj_004 {
    width: 70%;
}

.img_obj_004_in {
    text-align: center;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.pj_link {
    text-decoration: none;
}

.pj {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #eedde8;
    border-style: solid;
    border-width: 3px;
    border-color: #8d005e;
    transition: 0.2s;
}

.pj_in_img {
    text-align: center;
}

.pj_img {
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.pj_name {
    color: #0f0f0f;
    font-size: 22px;
    margin-top: 1px;
    margin-bottom: 0;
    text-align: center;
}

.pj_link {
    color: #1b1b1b;
    font-size: 13px;
    margin-top: 0;
    text-align: center;
}

.pj_link_in {
    text-decoration: none;
}
.pj_link_in:hover {
    text-decoration: underline;
}

.pj_link_fb {
    color: #0d31ff;
}

.pj_link_yt {
    color: #ff1212;
}

.pj_link_bli {
    color: #0d9eff;
}

.pj_link_tk {
    color: #ff0feb;
}

@media only screen and (max-width: 600px) {
    .img_obj_004 {
        width: 100%;
    }

    .content {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }
    
    .pj {
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        border-style: solid;
        border-width: 2px;
        transition: 0.2s;
    }
    
    .pj_img {
        width: 75%;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    
    .pj_name {
        color: #0f0f0f;
        font-size: 15px;
        margin-top: 1px;
        margin-bottom: 0;
    }
    
    .pj_link {
        color: #1b1b1b;
        font-size: 10px;
        margin-top: 0;
    }
}